@import "~uikit/src/less/uikit.theme.less";

@import "./lg-theme/var";
@import "./lg-theme/color";

@base-body-background: #eee;

@navbar-background: @lg-navbar-bg;
@navbar-nav-item-height: @lg-navbar-height;
@navbar-nav-item-color: @lg-navbar-color;
@navbar-nav-item-hover-color: @lg-navbar-active-color;
@navbar-nav-item-onclick-color: @lg-navbar-active-color;
@navbar-nav-item-active-color: @lg-navbar-active-color;
@navbar-item-color: @lg-navbar-color;
@logo-color: @lg-navbar-active-color;
@logo-hover-color: @lg-navbar-active-color;

@search-color: @lg-navbar-color;
@search-placeholder-color: @lg-navbar-color;
@search-icon-color: @lg-navbar-color;
@search-navbar-width: 200px;

@global-xxlarge-font-size: 2.3rem;

.hook-card() {
  border-radius: 10px;
}

.lg-float-title {
  padding: 0 @card-body-padding-horizontal;
  // Align with card.
  font-size: @lg-float-title-size;
}

@media (min-width: @breakpoint-large) {
  .lg-float-title { padding: 0 @card-body-padding-horizontal-l; }
}

.lg-largenum {
  font-size: 2em;
}
.lg-margin-reset {
  margin: 0;
}
.lg-padding-reset {
  padding: 0;
}
.lg-no-margin-bottom { margin-bottom: 0 }
